---
// import Layout from "../layouts/Layout.astro";
// import Intro from '../components/about/intro/Intro';
// import Ideate2024 from '../components/about/ideate2024';
import Layout from "../../layouts/Layout.astro";
import Intro from '../../components/about/intro/Intro';
---

<Layout>
    <section id="intro">
        <Intro client:load/>
    </section>
</Layout>

