---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/hero/Hero';
import WhatIsIdeate from '../components/whatIsIdeate/WhatIsIdeate';
import Sponsor from '../components/sponsor/Sponsor';
import Theme from '../components/theme/Theme';
import Judges from '../components/judges/Judges';
import Mentors from '../components/mentors/Mentors';
import Prizes from '../components/prizes/Prizes';

import RegisterNow from '../components/registerNow/RegisterNow';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="items-center justify-center px-6 lg:px-12 text-center text-black text-base w-screen">
		<section id="hero">
			<Hero />
		</section>
		<section id="register-now">
			<RegisterNow isRegistrationOpen={false} client:load/>
		</section>
		<section id="what-is-ideate">
			<WhatIsIdeate />
		</section>
		<section id="sponsor">
			<Sponsor />
		</section>
		<section id="theme">
			<Theme />
		</section>
		<!-- <section id="judges">
			<Judges />
		</section>
		<section id="mentors">
			<Mentors />
		</section> -->
		<section id="prizes">
			<Prizes />
		</section>
	</main>
	<!-- <TempPage /> -->
</Layout>
