---
import Layout from "../layouts/Layout.astro";
import Timeline from '../components/timeline/Timeline';
import Workshops from '../components/workshops/Workshops';
import Venue from '../components/venue/Venue';
import OpeningDay from '../components/openingDay/OpeningDay';
import SemisAndFinals from '../components/semisAndFinals/SemisAndFinals';
---

<Layout>
    <section id="timeline">
        <Timeline client:load/>
    </section>
    <section id="venue">
        <Venue />
    </section>
    <section id="opening-day">
        <OpeningDay />
    </section>
    <section id="semis-and-finals">
        <SemisAndFinals />
    </section>
    <section id="workshops">
        <Workshops client:load/>
    </section>
</Layout>

