---
import Layout from "../layouts/Layout.astro";
import Timeline from '../components/schedule/timeline/Timeline';
import Workshops from '../components/schedule/workshops/Workshops';
import Venue from '../components/schedule/venue/Venue';
import OpeningDay from '../components/schedule/timeline/OpeningDay';
---

<Layout>
    <section id="timeline">
        <Timeline client:load/>
    </section>
    <section id="venue">
        <Venue />
    </section>
    <section id="opening-day">
        <OpeningDay />
    </section>
    <section id="workshops">
        <Workshops client:load/>
    </section>
</Layout>

